<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-sm-12 card c1">
      <h2> Blacklist News Analyst</h2>


      <input type="text" class="form-control" placeholder="Enter Analyst Email" #email/><br>
      <button class="btn btn-primary bt" type="button" (click)="get(email.value)"> Search </button>

    </div>
    <div class="col-lg-4"></div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-sm-12 card c2" *ngIf="analyst.blacklisted">


      <h5> Name : {{analyst.name}} </h5>
      <h5> Email : {{analyst.email}} </h5>
      <h5> Language : {{analyst.language.name}}</h5>
      <h5> Blacklisted : {{analyst.blacklisted}}</h5>
      <button class="btn btn-danger" (click)="changeStatus(analyst.email)"> Blacklisted </button>

    </div>


    <div class="col-lg-4 col-sm-12 card c2" *ngIf="!analyst.blacklisted">


      <h5> Name : {{analyst.name}} </h5>
      <h5> Email : {{analyst.email}} </h5>
      <h5> Language : {{analyst.language.name}}</h5>
      <h5> Blacklisted : {{analyst.blacklisted}}</h5>
      <button class="btn btn-success" (click)="changeStatus(analyst.email)"> Blacklisted  </button>

    </div>
    <div class="col-lg-4"></div>
  </div>

</div>
